@import url('https://fonts.googleapis.com/css?family=Roboto|Spectral');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #00c0ff;
  margin: 0;
}
.intro {
  display: block;
  margin: auto;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 2px 8px #555;
  padding: 5px 25px;
  border-radius: 15px;
  width: calc(90% - 50px);
}
.banner {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  background-color: #00c0ff;
}
.banner img {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.text {
  padding: 10px 15px;
  margin-bottom: 20px;
}

h1 {
  color: #00c0ff;
  text-shadow: 1px 1px 1px #222;
  font-size: 48pt;
  margin: 0;
}
h2 {
  color: #00c0ff;
  text-shadow: 1px 1px 1px #222;
  font-size: 36pt;
  margin: 0;
}
p, li {
  font-size: 14pt;
  font-family: 'Spectral', serif;
}
.two {
  text-align: right;
  margin-left: auto;
  margin-right: 15px;
}


.cta {
  text-decoration: none;
  color: #00c0ff;
  background-color: #fff;
  padding: 10px 25px;
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 24pt;
  border: 2px solid #00c0ff;
  border-radius: 15px;
  box-shadow: 0 2px 8px #555;
  transition: 0.3s linear all;
  width: calc(90% - 50px);
}
.cta:hover {
  background-color: #00c0ff;
  color: #fff;
  box-shadow: 0 8px 16px #555;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #000;
  background-color: #fff;
}
footer a:link, footer a:visited {
  color: #00c0ff;
  margin-right: 20px;
  text-shadow: 1px 1px 1px #000;
}

.url-block {
  display: block;
  width: 400px;
}
.url-block img {
  width: 100%;
}

.carousel {
  display: block;
  margin: auto auto 20px auto;
  box-shadow: 0 2px 8px #555;
  border-radius: 20px;
  width: 90%;
}