body {
  background-color: #00c0ff;
}

h1, h2, h3, h4 {
  color: #00c0ff;
}

.block h2 {
  margin-left: 60px;
}

a:link, a:visited {
  color: #00c0ff;
  text-decoration: none;
  transition: 0.1s linear all;
}

a:hover, a:focus {
  color: #0094c4;
}

button, a.btn:link, a.btn:visited, input {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 16pt;
  background-color: #fff;
  border: 1px solid #00c0ff;
  border-radius: 23px;
  transition: 0.2s ease-out all;
  margin: 10px;
  color: #000;
}

input[type=text], input[type=password], input[type=email] {
  width: calc(95% - 24px);
}

button:hover, button:focus, a.btn:hover, a.btn:focus {
  box-shadow: 0 2px 2px #555;
  background-color: #00c0ff;
  color: #eee;
  cursor: pointer;
}

textarea {
  font-family: 'Spectral', serif;
  padding: 10px;
  font-size: 16pt;
  background-color: #fff;
  border: 1px solid #00c0ff;
  border-radius: 15px;
  width: calc(100% - 30px);
  max-width: calc(100% - 30px);
}

.block {
  background-color: #fff;
  position: fixed;
  left: 200%;
  /* position hidden blocks off the screen to allow the fancy transitions */
  width: calc(100% - 20px);
  height: 100%;
  transition: 1s ease-in-out left;
  overflow: auto;
  padding: 5px 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}

.rel-container {
  position: relative;
  height: 100%;
}

.formText {
  color: red;
  display: none;
}

.formText.display {
  display: block;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}

.flex>button {
  padding: 10px;
  font-size: 48pt;
  border-radius: 15px;
  transition: 0.2s ease-out all;
  margin: 10px;
  width: 150px;
  height: 150px;
}

.flex>button:hover {
  background-color: #00c0ff;
  color: #eee;
  cursor: pointer;
}

.flex>button.round {
  border-radius: 75px;
}

.flex>.round.one {
  border: 1px solid #f31a1a;
}

.flex>.round.one:hover, .flex>.round.one:focus {
  background-color: #f31a1a;
}

.flex>.round.two {
  border: 1px solid #ffc107;
}

.flex>.round.two:hover, .flex>.round.two:focus {
  background-color: #ffc107;
  color: #000;
}

.flex>.round.four {
  border: 1px solid #33ffc2;
}

.flex>.round.four:hover, .flex>.round.four:focus {
  background-color: #33ffc2;
  color: #000;
}

.flex>.round.five {
  border: 1px solid #00ff40;
}

.flex>.round.five:hover, .flex>.round.five:focus {
  background-color: #00ff40;
  color: #000;
}

.tracker_graphs {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.tracker_graphs>.graph {
  display: block;
  width: 45%;
  min-width: 375px;
  margin: 0 20px;
  max-width: 100%;
}

canvas {
  max-width: 500px;
  display: block;
  margin: auto;
}

.moods_month_annual {
  position: relative;
  max-width: 100%;
}

.moods_month_annual canvas {
  max-height: 0;
}

.moods_month_annual canvas.activeYear {
  max-height: none;
}

button.arrow {
  position: absolute;
  font-size: 40px;
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 0px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

button.arrow:hover, button.arrow:focus {
  opacity: 0.8;
}

button.arrow--right {
  right: 5px;
}

hr {
  border: none;
  border-top: 1px solid #00c0ff;
  width: 90%;
}

p, .spectral, li {
  font-family: 'Spectral', serif;
  font-size: 13pt;
}

blockquote {
  border-left: 5px solid #ddd;
  padding: 5px 10px;
}

.chat {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100vw - 20px);
  height: calc(100% - 60px);
  overflow: auto;
}

.chat input[type="text"] {
  position: fixed;
  left: 100vw;
  bottom: -1px;
  width: calc(100vw - 22px);
  transition: 1s ease-in-out all;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px 10px 0 0;
}

.chat.shown input[type="text"] {
  left: -1px;
}

.msg {
  display: block;
  padding: 5px;
  width: 70%;
  margin-bottom: 10px;
}

.msg.anon {
  background-color: #00c0ff;
  border-radius: 30px 30px 30px 0;
  box-shadow: 2px 2px 5px #000;
}

.msg.user {
  background-color: #fff;
  border-radius: 30px 30px 0 30px;
  box-shadow: -2px 2px 5px #000;
  margin-left: calc(30% - 10px);
}

.btn__menu {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: 10;
  font-size: 16px;
}

@media only print {
  .btn__menu.loggedin {
    display: none;
  }
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: calc(100vw - 56px);
  max-width: 360px;
  background: #fff;
  z-index: 9;
  transition: 0.4s left ease-out;
  box-shadow: 0 0 10px 0 #000;
}

.menu h1 {
  margin-left: 70px;
  margin-top: 25px;
  color: #111;
}

.menu button {
  margin: 0;
  width: 100%;
  border: none;
  color: #111;
  box-shadow: none;
  border-radius: 0;
  padding: 20px 25px;
  text-align: left;
  font-size: 18pt;
}

.menu button:hover, .menu button:focus {
  background: #ccc;
}

.menu .appdata {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  text-align: justify;
}

.section {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: auto;
  margin-left: 20px;
  overflow-x: hidden;
}

.section.active {
  visibility: visible;
}

.section.noformat {
  margin-left: 20px;
  margin-right: 20px;
}

.section.noformat h1, .section.noformat h2, .section.noformat h3, .section.noformat h4, .section.noformat h5, .section.noformat h6 {
  color: #000;
}

.unit {
  width: 100%;
  position: relative;
  top: 0;
  left: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s ease-in-out all;
}

.unit.shown {
  left: 0;
  transition: 1s ease-in-out all;
}

.unit #chatlog {
  height: calc(100% - 190px);
  overflow: auto;
  position: absolute;
  top: 80px;
  width: calc(100% - 20px);
}

.unit #chatlog p {
  background-color: #fff;
  width: calc(90% - 20px);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 14pt;
  box-shadow: 0 1px 0 0 #000;
}

.unit #chatlog .otherUser {
  color: #09f;
}

.unit #chatlog .user {
  color: rgb(126, 126, 126);
}

.unit #chatbox {
  height: 35px;
  border-radius: 27px;
  border: none;
  box-shadow: 0 3px 12px -2px #000;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 60px);
  display: block;
  margin: auto;
}

.unit #chatbox__send {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 30pt;
  line-height: 0;
  z-index: 2;
  position: absolute;
  right: 30px;
  bottom: 10px;
  border: none;
  box-shadow: none;
}

.unit #chatbox__send:hover {
  background-color: #d1d1d1;
  color: #000;
}

.unit #chatbox__send:focus {
  background-color: #aaaaaa;
  color: #000;
}

.unit #chat__report {
  position: absolute;
  top: 10px;
  right: 170px;
}

.unit #chat__end {
  position: absolute;
  top: 10px;
  right: 35px;
}

.shown {
  left: 0;
  top: 0;
}

.done {
  position: fixed;
  left: -200%;
}

@media only screen and (min-width: 800px) {
  .btn__menu {
    display: none;
  }
  .menu.shown {
    box-shadow: none;
    border-right: 2px solid #0099ff;
  }
  .menu h1 {
    margin-left: 25px;
  }
  .section {
    left: 360px;
    width: calc(100vw - 360px);
    transform: translateZ(0) scale(1.0, 1.0);
    -webkit-font-smoothing: subpixel-antialiased;
  }
  .block {
    top: 50%;
    border-radius: 30px 0;
    border: 1px solid #00c0ff;
    box-shadow: 0 2px 4px #555;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
  }
  .block.shown {
    left: 50%;
  }
  .block.shown.done {
    left: -200%;
  }
  .block h2 {
    margin-left: auto;
  }
  .loading {
    left: calc(50% + 180px);
  }
  .loading.done {
    left: -200%;
  }
}

@media only print {
  body {
    background-color: unset;
  }
  .menu {
    display: none;
  }
  .btn__menu {
    display: none;
  }
  .block h2 {
    margin-left: auto;
  }
  .section {
    display: none;
    margin-left: auto;
  }
  .section.active, .block {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
  }
  #p__printer-friendly {
    display: none;
  }
}